<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Contact</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="ProjuCSS.css">
    </head>
    <body>
        <ul>
  <li><a href="index.php">Home</a></li>
  <li><a href="graph.html">Graph</a></li>
  <li><a href="contact.html">Contact</a></li>
  
</ul>
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/10516687_10202969094602764_160078530749068640_n.jpg?oh=5daae747c48aaedb7a6795807a645d77&oe=58CE156A"  alt='Riku' height="150" width='100'>
        <h5>Riku Marttinen riku.marttinen@oio.fi</h5>
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/11214023_1046264202050615_5446923963870871456_n.jpg?oh=e40228e7356fae44b20f47099e667115&oe=58D43210" alt='Aleksi' height="150" width='100'>
        <h5>Aleksi Holappa aleksi.holappa@oio.fi</h5>
        <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12143289_10205133199985069_3002766431524658698_n.jpg?oh=3538ebf6df22ec4ce54dd153ab3c60e9&oe=58D22288" alt='Aleksi' height="150" width='150'>
        <h5>Jere Luomajoki t5luje00@students.oamk.fi</h5>
        
        <footer>
            <h4>TVT15SPO ryhmä 4:n sulautetuntietokoneen projektin web-sivu. Tällä sivulla näkyy OIO:n toimiston tilatietoja.
            Käyttö vain koulussa. Projektissa käytetään Rasberry Pi:tä ja Arduinoa. Arduinon sensorit lähettävät tiedot Rasberry Pi:lle, joka lisää datan 
            tietokantaan. Tietokannasta tulostetaan tiedot tähän web-sivulle. Sulautettu tietokone projekti on tehty OAMK Kotkantien kampuksella.</h4>
        </footer>
    </body>
</html>
