<html>
	<head>
		<script type="text/javascript" src="jquery.min.js"></script>
		<script type="text/javascript" src="Chart.js"></script>
		<script type="text/javascript" src="linegraph.js"></script>
		<link rel="stylesheet" type="text/css" href="ProjuCSS.css">
	</head>
	<body>
		<div id="testdiv1">
		<ul>
  		<li><a href="index.php">Home</a></li>
  		<li><a href="graph.html">Graph</a></li>
  		<li><a href="contact.html">Contact</a></li> 
		</ul>
		
		<canvas id="chart_div" style="width: 1100px; height: 500px;">
		</div>
		</div>

		<footer>
            		<h4>TVT15SPO ryhmä 4:n sulautetuntietokoneen projektin web-sivu. Tällä sivulla näkyy OIO:n toimiston tilatietoja.
            		Käyttö vain koulussa. Projektissa käytetään Rasberry Pi:tä ja Arduinoa. Arduinon sensorit lähettävät tiedot Rasberry Pi:lle, joka lisää datan 
            		tietokantaan. Tietokannasta tulostetaan tiedot tähän web-sivulle. Sulautettu tietokone projekti on tehty OAMK Kotkantien kampuksella.</h4>
        	</footer>
	</body>
</html>