<!DOCTYPE html>
<html>
    <head>
    
        <title>Ryhma4 Toimisto</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="ProjuCSS.css">
    </head>
    
    <body>
        <ul>
  <li><a href="index.php">Home</a></li>
  <li><a href="graph.html">Graph</a></li>
  <li><a href="contact.html">Contact</a></li>
  
</ul>
        <img src="http://oiory.insinoori.fi/@Bin/199360/oio.jpg" alt='Oio' height="100" width='100'>
        <h1>Ryhma4 OIO:n Toimistovalvomo </h1>
        
        <main>
            <div class='lukemat'>
                <h3> Lukemat </h3>
            </div>
        </main>
         <div class="space"></div>
        
        <footer>
            <h4>TVT15SPO ryhmä 4:n sulautetuntietokoneen projektin web-sivu. Tällä sivulla näkyy OIO:n toimiston tilatietoja.
            Käyttö vain koulussa. Projektissa käytetään Rasberry Pi:tä ja Arduinoa. Arduinon sensorit lähettävät tiedot Rasberry Pi:lle, joka lisää datan 
            tietokantaan. Tietokannasta tulostetaan tiedot tähän web-sivulle. Sulautettu tietokone projekti on tehty OAMK Kotkantien kampuksella.</h4>
        </footer>
       
    </body>
    
</html>
